{% load static %}
<section id="adventureavenue" class="portfolio sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Adventure Avenue: Explore, Discover, Enjoy!</h2>
        <p>Embark on Your Dream Journey with Us!</p>
      </div>

      <div class="portfolio-isotope" data-portfolio-filter="*" data-portfolio-layout="masonry" data-portfolio-sort="original-order" data-aos="fade-up" data-aos-delay="100">

        <div>
          <ul class="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Curated Indian Getaways</li>
            <li data-filter=".filter-product">Beyond the Borders</li>
            <li data-filter=".filter-branding">Explore Holidays By Theme</li>
            <li data-filter=".filter-books">Deals</li>
          </ul><!-- End Portfolio Filters -->
        </div>

        <div class="row gy-4 portfolio-container">

          <div class="col-xl-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <a href="static/img/portfolio/IMG_7850.JPG" class="glightbox">
                <img src="static/img/portfolio/IMG_7850.JPG" class="img-fluid" alt="">
              </a>
              
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Kerala: Munnar - Serene Hill Station</a></h4>
                <p>Munnar, nestled in the lush Western Ghats, is a picturesque hill station known for its tea plantations, misty mountains, and tranquil lakes. Explore the breathtaking landscapes, go trekking in the Anamalai hills, and indulge in Ayurvedic treatments amidst nature's splendor.                  </p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-product">
            <div class="portfolio-wrap">
              <a href="static/img/portfolio/Eiffel Tower Sparkle.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/portfolio/Eiffel Tower Sparkle.jpg" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Paris, France</a></h4>
                <p>Known as the "City of Love" and home to iconic landmarks like the Eiffel Tower, Louvre Museum, and Notre-Dame Cathedral, Paris is renowned for its romantic ambiance, art, fashion, and cuisine.
                </p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
            <div class="portfolio-wrap">
              <a href="static/img/portfolio/honeymoon.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/portfolio/honeymoon.JPG" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Honeymoon</a></h4>
                <p>Embrace Love, Adventure, and Romance: Your Perfect Honeymoon Awaits</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-books">
            <div class="portfolio-wrap">
              <a href="static/img/portfolio/fly.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/portfolio/fly.JPG" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Flights</a></h4>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <a href="static/img/portfolio/Tourist Places.jpg" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/portfolio/Tourist Places.jpg" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Himachal Pradesh: Shimla - Queen of Hill Stations</a></h4>
                <p>Shimla, the erstwhile summer capital of British India, is renowned for its colonial architecture, scenic beauty, and toy train ride on the UNESCO-listed Kalka-Shimla Railway. Enjoy panoramic views of the Himalayas, stroll along the Mall Road, and indulge in adventure activities like trekking and skiing.
                </p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-product">
            <div class="portfolio-wrap">
              <a href="static/img/portfolio/IMG_7853.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/portfolio/IMG_7853.JPG" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Santorini, Greece</a></h4>
                <p>Famous for its whitewashed buildings, blue-domed churches, breathtaking sunsets, and crystal-clear waters, Santorini is a picturesque island paradise in the Aegean Sea.
                </p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
            <div class="portfolio-wrap">
              <a href="static/img/portfolio/IMG_7855.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/portfolio/IMG_7855.JPG" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Pilgrimage</a></h4>
                <p>Sacred Journeys, Soulful Destinations: Your Path to Spiritual Awakening.</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-books">
            <div class="portfolio-wrap">
              <a href="static/img/portfolio/acc.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/portfolio/acc.JPG" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Accomodation</a></h4>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <a href="static/img/portfolio/IMG_7852.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/portfolio/IMG_7852.JPG" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Meghalaya: Mawlynnong</a></h4>
                <p>Dubbed as "Asia's Cleanest Village," Mawlynnong is a picturesque village tucked away in the East Khasi Hills of Meghalaya. Surrounded by dense forests and cascading waterfalls, this eco-friendly village offers stunning views of the surrounding landscape. Visitors can stroll along treehouse pathways, visit the living root bridges, and experience the warm hospitality of the local Khasi people.
                </p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-product">
            <div class="portfolio-wrap">
              <a href="static/img/portfolio/2a437f79-4b8e-4796-876d-c20d2083c9fa.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/portfolio/2a437f79-4b8e-4796-876d-c20d2083c9fa.JPG" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Rome, Italy</a></h4>
                <p>With its ancient ruins, historic landmarks like the Colosseum and Vatican City, charming streets, and delicious cuisine, Rome is a treasure trove of art, history, and culture.
                </p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-branding">
            <div class="portfolio-wrap">
              <a href="static/img/portfolio/wild.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/portfolio/wild.JPG" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Wild Escapes</a></h4>
                <p>Discover the Wild Within: Your Ultimate Wildlife Adventure Awaits!</p>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-4 col-md-6 portfolio-item filter-books">
            <div class="portfolio-wrap">
              <a href="static/img/portfolio/pro.JPG" data-gallery="portfolio-gallery-app" class="glightbox"><img src="static/img/portfolio/pro.JPG" class="img-fluid" alt=""></a>
              <div class="portfolio-info">
                <h4><a href="portfolio-details.html" title="More Details">Designation Based</a></h4>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

        </div><!-- End Portfolio Container -->

      </div>

    </div>
  </section>