{% load static %}
<section id="pricing" class="pricing sections-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Plans</h2>
        <p>Choose the plan that best suits your preferences and requirements, whether you're looking for a basic free option or a premium experience with added perks and support.</p>
      </div>

      <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

        <div class="col-lg-4">
          <div class="pricing-item">
            <h3>Free Plan</h3>
            <div class="icon">
              <i class="bi bi-box"></i>
            </div>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <ul>
              <li><i class="bi bi-check"></i> Personalized itinerary creation based on user preferences.</li>
              <li><i class="bi bi-check"></i> Access to a wide range of destination suggestions and travel guides.</li>
              <li><i class="bi bi-check"></i>  Ability to save and access one itinerary at a time.</li>
              <li class="na"><i class="bi bi-x"></i> <span> Shareable itineraries with friends and family.</span></li>
              <li class="na"><i class="bi bi-x"></i> <span>Priority access to new features and updates on the platform.</span></li>
            </ul>
            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-4">
          <div class="pricing-item featured">
            <h3>Standard Plan</h3>
            <div class="icon">
              <i class="bi bi-airplane"></i>
            </div>

            <h4><sup>$</sup>29<span> / month</span></h4>
            <ul>
              <li><i class="bi bi-check"></i> All features of the Basic Plan.</li>
              <li><i class="bi bi-check"></i> Unlimited itinerary creation and storage.</li>
              <li><i class="bi bi-check"></i>Enhanced accommodation and activity recommendations with user reviews and ratings.</li>
              <li><i class="bi bi-check"></i> Exclusive discounts and deals on accommodations, activities, and travel services through partner networks.</li>
              <li><i class="bi bi-check"></i> Offline access to saved itineraries via mobile app.</li>
            </ul>
            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
          </div>
        </div><!-- End Pricing Item -->

        <div class="col-lg-4">
          <div class="pricing-item">
            <h3>Premium Plan</h3>
            <div class="icon">
              <i class="bi bi-send"></i>
            </div>
            <h4><sup>$</sup>49<span> / month</span></h4>
            <ul>
              <li><i class="bi bi-check"></i> All features of the Standard Plan.</li>
              <li><i class="bi bi-check"></i> Advanced customization options for itineraries, including detailed day-by-day planning.</li>
              <li><i class="bi bi-check"></i> Access to premium content such as insider tips, off-the-beaten-path attractions, and local experiences.</li>
              <li><i class="bi bi-check"></i> 24/7 live chat support for instant assistance with itinerary planning and travel inquiries.</li>
              <li><i class="bi bi-check"></i> Exclusive access to VIP events and travel experiences.</li>
            </ul>
            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
          </div>
        </div><!-- End Pricing Item -->

      </div>

    </div>
  </section><!-- End Pricing Section -->